.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin headersStyling {
    text-align: center;
    color: $primary;
    font-size: 2rem;
    background-color: $white;
    padding: 1rem;
    border-radius: 12px;
    max-width: 300px;
    width: 100%;
}

@mixin backgroundImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin overlappingBackground {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background-color: $white;
    border-radius: 25px;
    transform: translateY(-6%);
    overflow: hidden;
    z-index: 1;
}

@mixin underlineHover {
  position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0;
      bottom: 0;
      transition: 0.3s;
      border-bottom: 3px solid $white;
    }

    &::before {
      right: 50%;
    }

    &::after {
      left: 50%;
    }

    &:hover::before,
    &:hover::after {
      width: 50%;
    }
}