@media (min-width: 576px) {
  .header {
    &__contact-section {
      font-size: 1.5rem;
    }
  }

  .feature-buttons {
    &__background {
      height: 500px;
    }
    &__text {
      h2 {
        font-size: 2rem;
        max-width: 500px;
      }
      p {
        font-size: 1.5rem;
      }
    }
    &__container {
      width: 250px;
      height: 250px;
    }

    &__rotate-fix {
      font-size: 1.5rem;
    }
  }

  .booking {
    &__small-container {
      margin-top: 75px;
    }
  }

  .offers {
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }

    &__offer {
      width: 140px;
    }

    &__price {
      a {
        font-size: 1.1rem;
      }
    }
  }
}
