@import "./colors";
@import "./animations";
@import "./components";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: relative;
  width: 100%;
  height: 750px;
  z-index: 1;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/header-bg-low.jpg");
    @include backgroundImage;
    z-index: 2;
  }

  &__filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 111, 202, 0.76);
    z-index: 3;
  }

  &__logo {
    text-align: center;

    img {
      width: 300px;
    }
  }

  &__h1 {
    text-align: center;
    color: $primary;
    font-size: 2rem;
    margin: 5rem auto 0rem;
    background-color: $white;
    padding: 1rem;
    border-radius: 25px;
    max-width: 300px;
    @include lazyLoadingAnim2;
  }

  &__some-text {
    margin: 1rem auto 5rem;
    text-align: center;
    color: $white;
    max-width: 300px;
    font-size: 1.5rem;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .currency-btn {
      transition: color 0.3s, border 0.3s;
      &:hover {
        color: $gold;
        border: 3px solid $gold;
      }
    }
  }

  &__h1,
  &__button {
    @include headersStyling;
  }

  &__language-btn {
    width: 30px;
  }

  &__language-container {
    background-color: transparent;
    padding: 0;
  }

  &__button {
    position: relative;
    margin: 0.25rem auto;
    width: 200px;
    cursor: pointer;
    border: 3px solid transparent;
    overflow: hidden;
    z-index: 0;
    transition: color 0.3s;
    @include lazyLoadingAnim;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0px;
      width: 100%;
      background-color: $secondary;
      z-index: -1;
      transition: height 0.3s;
    }

    &:hover {
      color: $white;
    }

    &:hover::after {
      height: 100%;
    }

    .additional-icon {
      width: 25px;
      vertical-align: middle;
    }

    .language-icon {
      width: 45px;
    }
  }

  &__info-text {
    font-size: 1.5rem;
    text-align: center;

    &--p {
      padding: 1rem;
    }
  }

  // Header contact section
  &__contact-section {
    font-size: 1.25rem;
    justify-content: space-between;
    background-color: $white;
    padding: 0 2rem;
    display: flex;
  }

  &__contact {
    cursor: pointer;
    padding: 0.5rem;
  }
}

// Feature buttons section
.feature-buttons {
  position: relative;

  &__delayed-loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: $white;
    z-index: 100;
  }

  &__text {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 100px;

    h2 {
      @include headersStyling;
      margin: 0 auto;
      background-color: $primary;
      color: $white;
    }

    p {
      margin-top: 1rem;
      text-align: center;
      font-size: 1.25rem;
      color: $primary;
    }
  }

  &__background {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 450px;
    background-image: url("../img/section-background.svg");
    @include backgroundImage;
    border-radius: 25px;
    transform: translateY(-6%);
    z-index: 2;
  }

  &__container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 200px;
    height: 200px;
    margin-top: 15rem;
    transform: rotate(45deg);

    .hidden {
      visibility: hidden;
    }
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    background-color: $secondary-light;
    border: 3px solid $secondary;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      scale: 0.9;
      box-shadow: 3px 3px 5px 1px black;
      border: 3px solid $white;
      background-color: $secondary;

      &::before {
        border: 1px solid black;
        width: 110%;
        height: 110%;
      }

      .feature-buttons__p {
        font-size: 0.1rem;
        opacity: 0;
        margin-top: 0rem;
      }

      .feature-buttons__img {
        width: 80px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 5%;
      top: 5%;
      width: 125%;
      height: 125%;
      border-radius: inherit;
      border: 1px solid transparent;
      transition: border 0.3s, width 0.3s, height 0.3s;
    }
  }

  &__rotate-fix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);

    p {
      font-size: 1.1rem;
      margin-top: 2rem;
      transition: font-size 0.3s, opacity 0.3s, margin-top 0.3s;
    }

    img {
      width: 40px;
      transition: width 0.3s;
    }
  }

  &__footer {
    position: absolute;
    bottom: 1rem;
    left: auto;
  }
}

// Booking section
.booking {
  position: relative;
  transform: translateY(-18%);
  @include overlappingBackground;
  height: 650px;
  flex-direction: column;
  justify-content: start;
  background-color: $secondary-light;

  .particles-js-canvas-el {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__h2 {
    margin: 12.5rem auto 1rem;
    @include headersStyling;
    max-width: 300px;
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.288);
    filter: blur(5px);
  }

  &__not-logged {
    @include headersStyling;
    font-size: 1.55rem;
    margin: 0 auto;

    a {
      padding: 0.5rem;
      @include underlineHover;

      &::before,
      &::after {
        border-bottom: 3px solid $primary;
      }
    }
  }

  &__options-background {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
    margin: 2rem;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 12px;
    background-color: $white;
    font-size: 1.5rem;
    transition: 0.3s, transform 0s;
    cursor: pointer;

    &:hover {
      scale: 0.9;
      box-shadow: 0px 0px 8px 3px black;
      border: 1px solid $primary;
      background-color: $secondary;
      color: $white;

      &::before,
      &::after {
        opacity: 1;
        width: 105%;
        height: 105%;
      }
    }

    &::before {
      border: 1px solid black;
      left: 55%;
      top: 55%;
    }

    &::after {
      border: 1px solid white;
      left: 45%;
      top: 45%;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: inherit;
      opacity: 0;
      transform: translate(-50%, -50%);
      width: 0%;
      height: 0%;
      transition: width 0.3s, height 0.3s, opacity 0.3s;
    }

    img {
      width: 80px;
    }
  }
}

// Display images section
.display-images {
  position: relative;
  width: 100%;
  background-color: red;
  transform: translateY(-35%);
  overflow: hidden;
  @include overlappingBackground;
  z-index: 10;

  .lazy-loading {
    @include lazyLoadingAnim3;
  }

  .hide-before-loading {
    opacity: 0;
  }

  &__background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    @include backgroundImage;
    filter: blur(3px);
  }

  &__container {
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    overflow: hidden;
    border-radius: 15px;
    transition: scale 0.3s;
    z-index: 10;
    &:hover {
      scale: 1.05;
    }
  }

  &__rotate-fix {
    position: relative;
    width: 150%;
    height: 150%;
    transform: rotate(-45deg) translateY(-25%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s !important;

    &:hover .display-images__text-background .display-images__text {
      font-size: 1.55rem;
    }
  }

  &__text-background {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    top: 70%;
    background-color: rgba(43, 43, 43, 0.75);
    text-align: center;
    color: $white;
  }

  &__text {
    font-size: 1.3rem;
    transition: font-size 0.3s;
  }

  &__error {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    z-index: 15;
    min-width: 250px;
    background-color: #ffffff85;
    border-radius: 8px;

    a {
      color: rgb(30, 27, 207);
    }
  }

  &__manage-box {
    display: flex;
    position: absolute;
    justify-content: space-around;
    left: 50%;
    bottom: 10%;
    color: $white;
    z-index: 15;
    border-radius: 8px;
    background-color: #2b2b2bbf;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__stop-start,
  &__pixabay {
    padding: 0.5rem;
    transition: color 0.3s;
    user-select: none;
    @include underlineHover;
    &:hover {
      color: black;
    }
    &::before,
    &::after {
      border-bottom: 3px solid black;
    }
  }

  &__delivered {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 3rem;
    background-color: #2b2b2bbf;
    left: 0;
    bottom: 0;
    padding: 0.25rem 1rem;
    font-size: 1.25rem;
    color: $white;
    overflow: hidden;
  }
}

// Offers section
.offers {
  position: relative;
  transform: translateY(-16%);
  @include overlappingBackground;
  height: 1400px;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__h2 {
    @include headersStyling;
    background-color: $primary;
    color: $white;
    margin: 10rem auto 1rem;
  }

  &__more {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-top: 2rem;
    line-height: 100%;

    a {
      padding: 0.5rem;
      @include underlineHover;
      &::before,
      &::after {
        border-bottom: 3px solid $primary;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  &__offer {
    position: relative;
    width: 150px;
    height: 250px;
    margin: 0 auto;
    box-shadow: 3px 3px 5px 1px rgb(85, 85, 85);
    border-radius: 12px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    overflow: hidden;
    background-color: white;
    @include backgroundImage;
    background-image: url("../img/offers/offers-background.svg");

    &:hover {
      box-shadow: 0px 0px 5px 1px rgb(53, 53, 53);
    }
  }

  &__h3 {
    font-size: 2rem;
  }

  &__image {
    width: 100%;
    height: 100px;

    @include backgroundImage;
    background-image: url("../img/offers/vienna.jpg");
  }

  &__main-info {
    padding: 0.25rem;
  }

  &__destination {
    font-size: 1.25rem;
  }

  &__rating {
    margin-top: 0.25rem;
    img {
      width: 15px;
    }

    .jump {
      @include jumpingStarsAnim;
    }
  }

  &__additional-info {
    padding: 0.25rem;
    width: 100%;

    &-small-container {
      display: flex;
    }
  }

  &__average {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    background-color: $secondary;
  }

  &__rate-place {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.25rem;
    @include underlineHover;

    &::before,
    &::after {
      border-bottom: 2px solid $secondary;
    }
  }

  &__reviews-n-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__reviews {
    font-size: 0.9rem;
  }

  &__price {
    p {
      text-align: right;
      font-size: 0.9rem;
    }
    p:nth-child(2) {
      font-size: 1.4rem;
    }
  }

  &__bottom-svg img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 100%;
  }
}
